<tr *ngFor="let securitizationSummaryModelEntry of securitizationSummaryModel.SecuritizationSummaryModelEntries">
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeName }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheName }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheType }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheRating }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheBalance }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheSizePercentage }}</td>
    <td>{{ securitizationSummaryModelEntry.SecuritizationNodeOrTrancheInitialCoupon }}</td>
    <td>{{ securitizationSummaryModelEntry.WeightedAverageLife }}</td>
    <td>{{ securitizationSummaryModelEntry.ModifiedDuration }}</td>
    <td>{{ securitizationSummaryModelEntry.PaymentWindow }}</td>
    <td>{{ securitizationSummaryModelEntry.BenchmarkYield }}</td>
    <td>{{ securitizationSummaryModelEntry.NominalSpread }}</td>
    <td>{{ securitizationSummaryModelEntry.InternalRateOfReturn }}</td>
    <td>{{ securitizationSummaryModelEntry.PresentValue }}</td>
    <td>{{ securitizationSummaryModelEntry.DollarPrice }}</td>
    <td>{{ securitizationSummaryModelEntry.PercentageOfCollateral }}</td>
</tr>